---
export const prerender = false;

// @ts-ignore
import { API } from "@/lib/utils/env";
import { CONVOCATORIAS } from "../../../content/conv";
import BaseInterection from "../../../layouts/BaseInterection.layout.astro";

// @ts-ignore
import MainFormComponent from "@/components/common/mainForm.component";
import type { IUtilityResponse } from "@/interfaces/utility";

const { slug } = Astro.params;

const req = await fetch(`${API}/utility?slug=${slug}`, {
    method: "GET",
});

const currentPath = Astro.url.pathname;

const convocatoria: IUtilityResponse = await req.json();
---

<BaseInterection
    title={convocatoria?.name ?? "Convocatoria"}
    description={convocatoria!.description}
>
    <div class="flex flex-col items-end h-full space-y-2">
        <h1 class="font-extrabold text-xl text-center w-full">
            Completa con tus datos
        </h1>
        <p class="text-base">
            Completa con tu información. Esto nos ayudará a poder contactarte y
            enviarte mas información de convocatorias como estas.
        </p>
        <MainFormComponent
            conv={convocatoria}
            path={currentPath}
            interests={convocatoria.interests}
            slug={slug}
            client:load
        />
    </div>
</BaseInterection>
